@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --dark-blue: #051F34;
    --dark-grey: #445665;
    --dark-peach: #D9B5A1;
    --peach: #D9B5A1;
    --light-peach: #051F34;
    --off-white: #F6F4F2;
}

h2 {
    font-family: 'Sorts Mill Goudy', serif;
    color: var(--dark-blue);
    font-weight: 200;
    kerning: -0.02px;
    font-size: 54px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--peach);
    font-size: 12px;
}

h4{

}

h5{

}

h6 {
    font-style: italic;
    font-family: 'Sorts Mill Goudy', serif;
    color: var(--dark-grey);
    font-weight: 100;
    font-size: 22px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grey);
    font-weight: 100;
}

peachc{
    color:var(--peach);
}
button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-color: var(--peach);
    padding: 20px 25px 20px 25px;
    border: 0px;
}

button:hover {
    background-color: var(--dark-peach);
}

main {
    background-color: var(--off-white);
    margin: 360px;
}

.categories-button{
    color: var(--dark-grey);
    background-color: white;
}

.categories-button:hover {
    color: white;
    background-color: var(--dark-blue);
}

.container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section{
    margin-bottom: 130px;
}

header {
    position: absolute;
    left: 0;
    top: 0;
}

cover{
    top: 0;
    height: 631px;
}

.cover-div{
    width: 570px;
}

.features-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop-front {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
