@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

:root {
    --dark-blue: #051F34;
    --dark-grey: #445665;
    --lighter-gray: #65737F;
    --light-gray: #C6C9CC;
    --faint-gray: #E2DEDB;
    --peach: #D9B5A1;
    --lighter-peach: #E0C0B0;
    --light-peach: #EFE8E3;
    --off-white: #F6F4F2;
}

h2 {
    font-family: 'Sorts Mill Goudy', serif;
    color: var(--dark-blue);
    font-weight: 200;
    kerning: -0.02px;
    line-height: 1em;
    font-size: 54px;

    margin: 20px 0px 0px 0px;
    padding: 0;
}

h3 {
    font-family: 'Montserrat';
    color: var(--peach);
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: 'Sorts Mill Goudy', serif;
    color: var(--dark-blue);
    font-weight: 300;
    font-size: 26px;
    margin: 0;
    padding: 0;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h6 {
    font-style: italic;
    font-family: 'Sorts Mill Goudy', serif;
    color: var(--dark-grey);
    font-weight: 100;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grey);
    font-weight: 500;
    line-height: 2em;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 16px;
    background-color: var(--lighter-peach);
    border: 0px;
    transition: 0.3s;
}

    button:hover {
        background-color: var(--peach);
    }

body {
    margin: 0px;
    padding: 0px;
}

.centered-horizontally {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*design*/

.peach {
    color: var(--peach);
}

.hero-title {
    font-size: 90px;
}

/*header*/

header {
    top: 0px;
    left: 0px;
    width: 100vw;
    box-sizing: border-box;
    position: absolute;
    padding: 30px 366.5px 30px 366.5px;
    display: flex;
    flex-direction: row;
}

.header-icon {
    width: 77px;
    height: inherit;
    align-self: flex-start;
}

.nav-div {
    align-self: center;
}

nav{
    display: flex;
    flex-direction: row;
}

.nav-link {
    margin: 5px 7.5px 5px 7.5px;
    text-decoration: none;
    font-size: 15px;
}

    .nav-link:hover{
        color: var(--dark-blue);
    }

/*cover*/

.cover {
    padding-right: 366.5px;
    padding-bottom: 140px;
    padding-left: 366.5px;  
    box-sizing: border-box;
    aspect-ratio: 2437/1066;

    background-image: url("images/backgrounds/cover.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cover-subtitle {
    margin-top: 40px;
}

.cover-div {
    max-width: 570px;
}

.cover-button {
    padding: 16px 26px 17px 26px;
    margin-top: 55px;
}

/*features*/

.features {
    padding: 70px 330.5px 70px 330.5px;
}

.features-hr {
    border: 0;
    border-top: 2px solid var(--faint-gray);
    border-radius: 1px;
    width: 33px;
}

.features-div {
    padding: 75px 50px 75px 50px;
    text-align: center;
}

/*best sellers*/

.best-sellers {
    padding: 70px 330.5px 70px 330.5px;
}

.shop-item{
    padding: 40px 30px 40px 30px;
}

.shop-item-h5 {
    margin-top: 40px;
}

.shop-item-h3 {
    font-weight: 700;
    font-size: 21px;
    margin: 16px 0px 24px 0px;
}

.shop-item-button {
    padding: 12px 20px 13px 20px;
}

/*our collection*/

.our-collection {
    padding: 70px 330.5px 0px 330.5px;

    background-image: url("images/backgrounds/our-collection.png");
    background-size: cover;
}

/*categories*/

.categories {
    padding: 70px 330.5px 70px 330.5px;
}

.categories-container {
    position: relative;
    text-align: center;
}

    .categories-container:hover {
        background-color: var(--peach);
        padding: 0px;
    }

    .categories-image:hover {
        opacity: 0;
        transition: 1s;
    }

.categories-button {
    opacity: 0;
    padding: 16px 26px 17px 26px;
    margin-top: 40px;
}

.categories-container:hover .categories-button {
    opacity: 1;
    color: var(--dark-grey);
    background-color: white;
}

    .categories-button:hover {
        opacity: 1;
        color: white;
        background-color: var(--dark-blue);
    }

/*promo set*/

.promo-set {
    padding: 150px 446.5px 150px 446.5px;
}

.promo-set-div {
    aspect-ratio: 1414/636;
    background-image: url(images/backgrounds/promo-set.png);
    background-size: cover;
}

/*designer jewelery*/

.designer-jewelry {
    box-sizing: border-box;
    aspect-ratio: 2340/1080;
    padding: 160px 366.5px 70px 366.5px;
    background-image: url(images/backgrounds/designer-jewelry.png);
}

/*store*/

.store{
    padding: 70px 366.5px 70px 366.5px;
}

.store-buttons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.store-button {
    padding: 15px 20px 15px 20px;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

input{
    display: none;
}

label{
    color: var(--lighter-gray);
}

label:hover {
    background-color: transparent;
    color: var(--dark-blue);
}

    label:checked {
        background-color: transparent;
        color: var(--dark-blue);
    }

.checked-radio  {
    background-color: transparent;
    color: var(--dark-blue);
    border-bottom: 2px solid var(--peach);
    border-radius: 1px;
    }

.store-hr {
    border: 0;
    border-top: 1px solid var(--faint-gray);
    margin: -1px 0 30px 0;
    padding: 0;
}

/*banner*/

.banner {
    padding: 70px 366.5px 70px 366.5px;
}

/*blog*/

.blog {
    padding: 70px 366.5px 40px 366.5px;
}

/*testimonials*/

/*partners*/

.partners{
    padding: 70px 366.5px 70px 366.5px;
}

.partners-div{
    display: flex;
    flex-direction: row;
}

.partners-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partner-icon{
    width: 170px;
    height: 170px;
    background-color: var(--light-peach);
}

.partner-logo {
    width: 100px;
    height: inherit;
}

/*FAQ*/

.faq{
    padding: 70px 366.5px 120px 366.5px;

}

.accordion {
    font-family: 'Sorts Mill Goudy', serif;
    color: var(--dark-blue);
    font-weight: 300;
    font-size: 26px;
    padding: 20px 0px 20px 0px;
    background-color: transparent;
}

    .accordion:hover {
        background-color: transparent;       
    }

.faq-hr {
    margin: 0;
    border: 0;
    border-top: 1px solid var(--light-gray);
    border-radius: 0.5px;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/*footer*/

footer {
    top: 0px;
    left: 0px;
    height: 120px;
    width: 100%;
}