#banner {
    padding: 70px 40px 70px 40px;
}

.banner-width {
    width: 1200px;
    display: flex;
    flex-direction: row;
}

.banner-left {
    padding: 15px 25px 15px 25px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--light-peach);
    width: calc(25% - 30px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3.banner {
    margin-top: 20px;
}

h6.banner {
    margin-top: 20px;
}

.banner-right {
    padding: 67px 30px 40px 30px;
    margin-left: 15px;
    margin-right: 15px;
    background: url(../images/backgrounds/banner.png);
    background-size: cover;
    width: calc(75% - 30px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h2.banner {
    padding-top: 20px;
    max-width: 350px;
    text-align: right;
}

button.banner {
    padding: 16px 26px 17px 26px;
    margin-top: 92px;
}

@media (max-width: 1280px){
    .banner-width {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #banner {
        padding-left: 24px;
        padding-right: 24px;
    }

    .banner-width {
        flex-wrap: wrap;
    }

    .banner-left {
        width: 100%;
    }

    .banner-right {
        margin-top: 50px;
        width: 100%;
    }
}
