#banner {
    padding-top: 70px;
    padding-bottom: 70px;
}

.banner-width {
    width: 1170px;
    display: flex;
    flex-direction: row;
}

.banner-left {
    padding: 15px 25px 15px 25px;
    background-color: var(--light-peach);
    max-width: 300px;
    box-sizing: border-box;
}

.banner-right {
    padding: 87px 30px 40px 30px;
    background: url(../images/backgrounds/banner.pg);
    max-width: 300px;
    box-sizing: border-box;
}

.banner-img {
    max-width: 220px;
    height: inherit;
}