#best-sellers {
    padding-top: 70px 32px 70px 32px;
}

.best-sellers-width {
    width: 770px;
    text-align: center;
}

h2.best-sellers {
    margin-top: 20px;
}

h6.best-sellers {
    margin-top: 25px;
}

@media (max-width: 834px) {
    .best-sellers-width {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #best-sellers {
        padding-left: 24px;
        padding-right: 24px;
    }
}