.best-sellers {
    padding-top: 70px;
    padding-bottom: 70px;
}

.best-sellers-div {
    max-width: 770px;
    text-align: center;
}

.best-sellers-h6 {
    margin-top: 25px;
}

.shop-front {
    width: 1200px;
}

.shop-item {
    padding: 40px 30px 40px 30px;
    box-sizing: border-box;
    max-width: 665px;
}

.shop-item-img {
    max-width: 210px;
    height: inherit;
}

.out-of-stock .shop-item-img{
    filter: /*grayscale(0%);*/
}

.shop-item-h5 {
    margin-top: 40px;
}

.shop-item-h3 {
    font-weight: 700;
    font-size: 21px;
    margin: 16px 0px 24px 0px;
}

.shop-item-button {
    padding: 12px 20px 13px 20px;
}

@media (max-width: 1279px) {
    .best-sellers {
        padding-left: 40px;
        padding-right: 40px;
    }

    .shop-front {
        width: 100%;
    }
}

@media (max-width: 991px){
    .shop-front {
        flex-wrap: wrap;
    }
    .shop-item {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .shop-item {
        width: 100%;
    }
}