#blog {
    padding-top: 70px 40px 40px 40px;
}

.blog-width {
    width: 1170px;
}

h2.blog {
    margin-top: 20px;
}

h6.blog {
    margin-top: 25px;
}

div.article {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33%;
}

img.article {
    width: 100%;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    object-fit: cover;
}

h3.article {
    margin-top: 20px;
}

h4.article {
    margin-top: 20px;
}

p.article {
    margin-top: 20px;
}

h3.read-more {
    margin-top: 20px;
    color: var(--dark-blue);
}

@media (max-width: 1250px) {
    .blog-width {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .article-div {
        flex-wrap: wrap;
        justify-content: center;
    }

    .article {
        box-sizing:border-box;
        width: 50%;
    }
}

@media (max-width: 767px) {
    .article {
        width: 100%;
    }
}