#categories {
    padding-top: 70px;
    padding-bottom: 70px;
}

h2.categories {
    margin-top: 20px;
}

h6.categories {
    margin-top: 25px;
}

.categories-width {
    width: 1200px;
    display: flex;
}

.category-container {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    box-sizing: border-box;
    width: 33.33%;
    aspect-ratio: 400/503;
    overflow: hidden;
    background-color: var(--peach);
}

h2.category {
    color: white;
}

div.category {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

button.category {
    opacity: 0;
    padding: 16.5px 26px;
    margin-top: 40px;
    background-color: white;
    color: var(--dark-grey);
}

img.category {
    display: block;
    position: relative;
    height: 100%;
    transition: 0.3s ease-in-out;
    z-index: 0;
}

.category-container:hover img.category {
    transform: scale(1.1);
    opacity: 0;
}

.category-container:hover button.category {
    opacity: 1;
}

button.category:hover {
    background-color: var(--dark-blue);
    color: white;
}

@media (max-width: 1280px) {
    .categories {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .categories-width {
        width: 100%;
    }
}

@media (max-width: 931px) {
    .categories-width {
        flex-wrap: wrap;
    }

    .category-container {
        width: 100%
    }
}