.categories {
    padding-top: 70px;
    padding-bottom: 70px;
}

.categories-width {
    width: 1200px;
    margin-top: 50px;
}

.categories-container {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    width: 33.33%;
}

.categories-img {

}