#designer-jewelry {
    box-sizing: border-box;
    padding-top: 160px; 
    padding-bottom: 70px;
    background-image: url(../images/backgrounds/designer-jewelry.png);
    background-size: cover;
}

.designer-jewelry-width {
    width: 1170px;
    display: flex;
    justify-content: right;
}

.designer-jewelry-div {
    max-width: 570px;
}

ul {
    padding: 0;
}

li {
    padding-bottom: 16px;
}

li::marker {
    content: "⯁";
    color: var(--midtone-peach);
    height: 24px;
}

button.designer-jewelry {
    padding: 16px 26px 17px 26px;
}