.faq {
    padding-top: 70px;
    padding-bottom: 120px;
}

.faq-width {
    width: 1200px;
    display: flex;
    flex-direction: row;
}

.faq-accordion-div {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.plus-icon {
    width: 15px;
    height: 15px;
}

#plus-horizontal-line {
    margin: 0;
    border: 0;
    border-top: 2px solid var(--dark-blue);
    border-radius: 1px;
    width: 15px;
    transform: translateY(6.5px);
}

#plus-vertical-line {
    margin: 0;
    border: 0;
    border-left: 2px solid var(--dark-blue);
    border-radius: 1px;
    height: 15px;
    transform: translate(6.5px, -2px);
}

#plus-vertical-line {
    margin: 0;
    border: 0;
    border-left: 2px solid var(--dark-blue);
    border-radius: 1px;
    height: 15px;
    transform: translate(6.5px, -2px);
}

.accordion {
    font-family: 'Sorts Mill Goudy', serif;
    color: var(--dark-blue);
    font-weight: 300;
    font-size: 26px;
    padding: 20px 0px 20px 0px;
    background-color: transparent;
    width: 100%;
    align-items: center;
}

    .accordion:hover {
        background-color: transparent;
    }

.faq-hr {
    margin: 0;
    border: 0;
    border-top: 1px solid var(--light-gray);
    border-radius: 0.5px;
}

.panel {
    padding: 0 18px;
    width: 100%;
    background-color: white;
    display: none;
    overflow: hidden;
}

.faq-img {
    width: 570px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 767px) {
    .faq-width {
        flex-direction: column-reverse;
    }
}