#faq {
    padding: 70px 40px 120px 40px;
}

.faq-width {
    width: 1200px;
    display: flex;
    flex-direction: row;
}

.accordion-div {
    width: 47.5%;
    padding-left: 15px;
    padding-right: 15px;
}

h2.faq {
    margin-top: 20px;
}

h6.faq {
    margin-top: 25px;
}

div.accordion {
    margin-top: 25px;
}

.plus-icon {
    width: 15px;
    height: 15px;
}

#plus-horizontal-line {
    margin: 0;
    border: 0;
    border-top: 2px solid var(--dark-blue);
    border-radius: 1px;
    width: 15px;
    transform: translateY(6.5px);
}

#plus-vertical-line {
    margin: 0;
    border: 0;
    border-left: 2px solid var(--dark-blue);
    border-radius: 1px;
    height: 15px;
    transform: translate(6.5px, -2px);
}

button.accordion {
    font-family: 'Sorts Mill Goudy', serif;
    color: var(--dark-blue);
    font-weight: 300;
    font-size: 26px;
    padding: 20px 0px 20px 0px;
    background-color: transparent;
    width: 100%;
    align-items: center;
}

    .accordion:hover {
        background-color: transparent;
    }

.faq-hr {
    margin: 0;
    border: 0;
    border-top: 1px solid var(--light-gray);
    border-radius: 0.5px;

}

.panel {
    padding-bottom: 20px;
    width: 100%;
    background-color: transparent;
    display: none;
    transition: max-height 0.3s;
}

.faq-img {
    width: 47.5%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 1280px){
    .faq-width{
        width: 100%
    }
}

@media (max-width: 1280px) {
    #faq{
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media (max-width: 767px) {
    #faq {
        margin-left: 24px;
        margin-right: 24px;
    }

    .faq-width {
        flex-direction: column-reverse;
    }

    .accordion-div {
        width: 100%;
        padding: 0;
    }

    .faq-img {
        width: 100%;
        padding: 0;
    }
}