#features {
    padding-top: 70px;
    padding-bottom: 70px;
}

.features-width {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.features-div {
    padding: 75px 50px 75px 50px;
    text-align: center;
    box-sizing: border-box;
    width: clamp(280px, 370px, 450px);
}

img.features {
    width: 100px;
    height: inherit;
}

h4.features {
    margin-top: 20px;
}

hr.features {
    border: 0;
    border-top: 2px solid var(--faint-gray);
    border-radius: 1px;
    width: 33px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 1250px) {
    #features {
        padding-left: 40px;
        padding-right: 40px;
    }

    .features-width {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .features-width {
        flex-wrap: wrap;
        justify-content: center;
    }

    .features-div {
        padding: 55px 40px 55px 40px;
        box-sizing: border-box;
        width: 50%;
    }
}

@media (max-width: 767px) {
    .features-div {
        padding: 45px 35px 45px 35px;
        box-sizing: border-box;
        width: 100%;
    }
}