footer {
    top: 0px;
    left: 0px;
    height: 120px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.table {
    width: 1200px;
    margin-top: 20px;
}

.column {
    width: 33.33%;
}

.title {
    margin-bottom: 20px;
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 16px;
}

.icon-display {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
}

.icon-div {
    margin: 0 7.5px 15px 7.5px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
}

.copyright {
    margin-top: 40px;
    margin-bottom: 15px;
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 11px;
}

@media (max-width: 1280px) {
    .table {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .table {
        flex-wrap: wrap;
        margin-top: 0;
    }

    .column {
        padding-top: 50px;
        width: 100%;
    }

    .icon-display {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}