header {
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-width {
    width: 1200px;
}

.header-icon {
    width: 77px;
    height: inherit;
    align-self: flex-start;
}

#nav-div {
    align-self: center;
    justify-self: center;
}

nav {
    display: flex;
}

.burger-icon {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 11.51px 8px 11.51px 8px;
    display: flex;
}

#burger-icon-top-bun, #burger-icon-patty, #burger-icon-bottom-bun {
    height: 2px;
    background-color: var(--dark-blue);
    border-radius: 1px;
    transition: 0.3s;
}

    #burger-icon-top-bun.burger-open {
        transform: rotate(45deg) translate(2.8px, 7.77px);
    }    

    #burger-icon-patty.burger-open {
        background-color: transparent;
    }

    #burger-icon-bottom-bun.burger-open {
        transform: rotate(-45deg) translate(2.8px, -7.77px);
    }

.nav-link {
    margin: 5px 7.5px 5px 7.5px;
    font-size: 15px;
}

    .nav-link:hover {
        color: var(--dark-blue);
    }

@media (max-width: 1280px) {
    header {
        padding-left: 40px;
        padding-right: 40px;
    }

    .header-width {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .burger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav {
        display: none;
    }
}