header {
    top: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.header-width {
    width: 1200px;
}

.header-icon {
    width: 77px;
    height: inherit;
    align-self: flex-start;
}

.nav-div {
    align-self: center;
    justify-self: center;
}

nav {
    display: flex;
}

.burger-icon {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 12px 8px 12px 8px;
    display: flex;
}

.burger-icon-bar {
    margin: 0;
    border: 0;
    border-top: 2px solid var(--dark-blue);
    border-radius: 1px;
}

.nav-link {
    margin: 5px 7.5px 5px 7.5px;
    font-size: 15px;
}

    .nav-link:hover {
        color: var(--dark-blue);
    }

@media (max-width: 1280px) {
    header {
        padding-left: 40px;
        padding-right: 40px;
    }

    .header-width {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .burger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav {
        display: none;
    }
}