.partners {
    padding-top: 70px;
    padding-bottom: 70px;
}

.partners-width {
    width: 1170px;
}

.partners-div {
    display: flex;
    flex-direction: row;
}

.partners-img-div {
    margin-left: 15px;
    margin-right: 15px;
}

.partners-img {
    width: 370px;
    height: inherit;
}

.partners-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.partners-icons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.partner-icon {
    width: 170px;
    height: 170px;
    background-color: var(--light-peach);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.partner-icon-top {
    margin-bottom: 15px;
}

.partner-icon-bottom {
    margin-top: 15px;
}

.partner-logo {
    width: 100px;
    height: inherit;
}

@media (max-width: 932px)