:root {
    --yellow: #FFD082;
}

a:hover{
    color: var(--yellow);
}

h6 {
    padding: 0 10px 10px 10px;
    border-bottom: 2px solid var(--peach);
    border-radius: 1px;
}

main{
    padding: 212px 40px 100px 40px;
}

.main-width {
    width: 1170px;
}

.item {
    margin-top: 50px;
    display: flex;
}

.left {
    box-sizing: border-box;
    width: 48.72%;
    padding-left: 15px;
    padding-right: 15px;
}

.right {
    width: 51.28%;
    padding-left: 15px;
    padding-right: 15px;
}