#store {
    padding: 70px 40px 70px 40px;
}

.store-width {
    width: 1170px;
}

h2.store {
    margin-top: 20px;
}

h6.store {
    margin-top: 25px;
}

.store-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

button.store {
    padding: 15px 20px 15px 20px;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    color: var(--lighter-gray);
    font-weight: 500;
    font-size: 16px;
}

    button.store:hover {
        background-color: transparent;
        color: var(--dark-blue);
    }

.store-button-active {
    background-color: transparent;
    color: var(--dark-blue);
    border-bottom: 2px solid var(--peach)!important;
    border-radius: 1px;
}

hr.store {
    margin: -1px 0 30px 0;
    width: 100%;
    border-top: 1px solid var(--faint-gray);
    border-radius: 0.5px;
    z-index: -1;
}

@media (max-width: 1250px){
    .store-width {
        width: 100%
    }
}

@media (max-width: 991px){
    #store {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 767px) {
    #store {
        padding-left: 24px;
        padding-right: 24px;
    }
}