@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --dark-blue: #051F34;
    --dark-grey: #445665;
    --lighter-gray: #65737F;
    --light-gray: #C6C9CC;
    --faint-gray: #E2DEDB;
    --peach: #D9B5A1;
    --gray-peach: #CDC5C1;
    --lighter-peach: #E0C0B0;
    --midtone-peach: #EADBD3;
    --light-peach: #EFE8E3;
    --off-white: #F6F4F2;
}

body {
    min-height: 100%
}
h2 {
    font-family: 'Sorts Mill Goudy', serif;
    color: var(--dark-blue);
    font-weight: 200;
    line-height: 1em;
    font-size: 54px;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Montserrat';
    color: var(--peach);
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: 'Sorts Mill Goudy', serif;
    color: var(--dark-blue);
    font-weight: 300;
    font-size: 26px;
    margin: 0;
    padding: 0;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h6 {
    font-style: italic;
    font-family: 'Sorts Mill Goudy', serif;
    color: var(--dark-grey);
    font-weight: 100;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grey);
    font-weight: 500;
    line-height: 2em;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

svg {
    fill: var(--dark-blue);
    transition: 0.3s;
}

svg:hover {
    fill: var(--peach);
}

button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 16px;
    background-color: var(--lighter-peach);
    border: 0px;
    transition: 0.3s;
}

    button:hover {
        background-color: var(--peach);
    }

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--off-white);
}

.centered {
    text-align: center;
}

.centered-horizontally {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.responsive {
    width: 100%;
    height: auto;
}

.peach {
    color: var(--peach);
}

.hero-title {
    font-size: 90px;
}

.small{
    font-size: 11px;
}

@media (max-width: 767px) {
    .hero-title {
        font-size: 54px;
    }
}