#testimonials {
    padding-top: 100px;
    padding-bottom: 150px;
}

.carousel {
    width: 740px;
    display: flex;
    overflow: hidden;
}

.slide {
    width: 740px;
}

img.testimonials {
    height: 130px;
    width: inherit;
}

h5.testimonials {
    margin-top: 20px;
}

p.testimonials {
    font-style: italic;
    font-family: 'Sorts Mill Goudy', serif;
    color: var(--dark-grey);
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    margin: 25px 0 0 0;
    padding: 0;
}
